{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
    {#<div class="card col-md-12 text-center">
        <div class="card-header">
            <h1><i class="fa fa-home"></i> -Office de Gestion des Offres de Stage</h1>
        </div>
        <div class="card-body">
            <div class="card {{ not app.user ? "clickable" : "" }}"
                 {% if not app.user %} onclick="location = '{{path("app_login") }}'" {% endif %}
                 >
                <img src="{{ asset("images/stage.jpg") }}" class="card-img" alt="Logo Stages"/>
                <div class="card-body">
                    <h3>
                        {% if app.user %}
                            Bienvenue {{ app.user.etudiant.prenom }} {{ app.user.etudiant.nom | upper }} (Rôle : {{ app.user.roles[0] | replace({'ROLE_':''}) | lower }})
                        {% else %}
                            <span class='text-danger'><i class="fa fa-exclamation-triangle"></i> authentification nécessaire</span>
                        {% endif %}
                    </h3>
                </div>
            </div>
        </div>
    </div>#}
    <div class="container_default">
      <div class="title_default">
        <h1>Back-Office de Gestion des Offres de Stage</h1>
        <div class="titre_flex"> 
            {% if app.user == false %}
                <button class="button_default" onclick="location = '{{path("app_login") }}'">Se connecter</button>
        </div>
            {% else %}
                </div>
                <h2>Bienvenue {{ app.user.etudiant.prenom }} {{ app.user.etudiant.nom | upper }} ({{ app.user.roles[0] | replace({'ROLE_':''}) | lower }})</h2>
            {% endif %}
            
      </div>
    </div>
{% endblock %}