{% extends 'base.html.twig' %}

{% block title %}EtatRecherche{% endblock %}

{% block body %}
    <h1>EtatRecherche</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etat_recherche.id }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ etat_recherche.etat }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ etat_recherche.descriptif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etat_recherche_index') }}" class="btn btn-secondary col-md-1">Retour Liste</a>

    <a href="{{ path('app_etat_recherche_edit', {'id': etat_recherche.id}) }}" class="btn btn-primary col-md-1">Editer</a>

    {{ include('Admin/etat_recherche/_delete_form.html.twig') }}
{% endblock %}
