{% extends 'base.html.twig' %}

{% block title %}Entreprise{% endblock %}

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>RaisonSociale</th>
                <td>{{ entreprise.raisonSociale }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entreprise.ville }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ entreprise.pays }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_index') }}" class="btn btn-secondary col-md-1">Retour Liste</a>

    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}" class="btn btn-primary col-md-1">Editer</a>

    {{ include('Admin/entreprise/_delete_form.html.twig') }}
{% endblock %}
