{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offres de Stage
       
    </h1>
    
    <div class="btn_ajouter" style="display: block ruby; text-align: center;"> 
    
     <a class="btn btn-primary" href="{{ path('app_offre_new') }}" style="padding:10px;"><i class="fa fa-plus"></i> Ajouter une offre</a>
    <a class="btn btn-primary" href="{{ path('app_offre_new') }}" style="padding:10px;"><i class="fa fa-plus"></i> Importer une offre en PDF</a>

    </div>

    <table class="MyDataTable  table table-striped table-sm table-hover small">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Entreprise</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Intitule</th>
                <th>Descriptif</th>
                <th>DateDepot</th>
                <th>Parcours</th>
                <th>MotsCles</th>
                <th>UrlPieceJointe</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for offre in offres %}
                <tr>
                    <td>{{ "%03d"|format(offre.id) }}</td>
                    <td>{{ offre.entreprise.raisonSociale }}</td>
                    <td>{{ offre.entreprise.ville }}</td>
                    <td>{{ offre.entreprise.pays }}</td>
                    <td>{{ offre.intitule }}</td>
                    <td>{{ offre.descriptif }}</td>
                    <td>{{ offre.dateDepot ? offre.dateDepot|date('d/m/Y') : '' }}</td>
                    <td>{{ offre.parcours }}</td>
                    <td>{{ offre.motsCles }}</td>
                    <td>
                        {% if offre.urlPieceJointe %}
                            <a href="{{ offre.urlPieceJointe }}" target="_blank" class="btn btn-sm btn-primary">
                                <i class="fa fa-file-text-o"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>{% if offre.etatOffre %}{{ offre.etatOffre.etat }}{% endif %}</td>
                    <td>
                        <a href="{{ path('app_offre_show', {'id': offre.id}) }}">voir</a>
                        <a href="{{ path('app_offre_edit', {'id': offre.id}) }}">éditer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12">aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

