<head>
    <meta charset="UTF-8">
    <title>Titre de la page</title>
    {% block css %}
        <link rel="stylesheet" href="{{ asset('css/app-stage.css') }}" type="text/css" media="all"/>
    {% endblock %}
</head>

  
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="{{ path("app_default") }}">Carnet de Stage</a></div>
        <ul class="links">

          {% if is_granted('ROLE_ADMIN')%}
          <li><a href="{{ path("app_admin_tableau_de_bord_index") }}">Tableau de Bord</a></li>
          <li>
            <a href="#" class="desktop-link">Outils</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Outils</label>
            <ul>
              <li><a href="{{ path("app_entreprise_index") }}">Entreprises</a></li>
              <li><a href="{{ path("app_etat_offre_index") }}">Etat Offre</a></li>
              <li><a href="{{ path("app_etat_recherche_index") }}">Etat recherche</a></li>
              <li><a href="{{ path("app_etat_candidature_index") }}">Etat candidature</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="desktop-link">Détails Étudiants</a>
            <input type="checkbox" id="show-services">
            <label for="show-services">Détails Étudiants</label>
            <ul>
              <li><a href="{{ path("app_compte_etudiant_index") }}">Comptes Etudiants</a></li>
              <li><a href="{{ path("app_offre_retenue_index") }}">Offres Retenues</a></li>
              <li><a href="{{ path("app_candidature_index") }}">Candidature</a></li>
            </ul>
          </li>
          {% elseif is_granted('ROLE_ETUDIANT') %} 
          <li><a href="{{ path("app_etudiant_tableau_de_bord_index") }}">Tableau de Bord</a></li>
          {% endif %}
           <li><a href="#">Offres de Stage</a></li>
         
          {% if app.user!=null %}
          <li>Connecté: {{app.user.username}}</li>
          <li><a href="#">Déconnexion</a></li>
          {% endif %}
          </ul>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Recherchez une entreprise, un mot-clé..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>
